{% extends "layout.html" %}
{% block content %}
<body data-home-page="Home.html" data-home-page-title="Home" class="u-body"><header class="u-clearfix u-header u-header" id="sec-4bcf"><div class="u-clearfix u-sheet u-sheet-1">
        <h5 class="u-custom-font u-font-pt-sans u-text u-text-palette-5-dark-2 u-text-1">about company</h5>
        <h1 class="u-custom-font u-font-lato u-text u-text-palette-2-base u-text-2">MUST GUIDance&nbsp;</h1>
      </div></header>
    <section class="u-clearfix u-white u-section-1" id="carousel_55b0">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-white u-layout-cell-1">
              <div class="u-container-layout u-valign-bottom-xs u-container-layout-1">
                <p class="u-text u-text-palette-5-dark-2 u-text-1">
                  <span style="font-weight: 700; font-size: 2.25rem;" class="u-text-grey-80">
                    <span style="font-size: 3rem;">IITian</span>&nbsp;<br>COEPian <br>SGGSian&nbsp;<br>
                    <span class="u-text-custom-color-4">Research paper co-author&nbsp;<br>-SDDSCNet<br>&nbsp;<span style="font-size: 1.25rem; font-weight: 400;">(mind 21 ,3rd International Conference on Machine Learning, Deep Learning,NS)</span>
                    </span>
                  </span>
                  <span class="u-text-custom-color-4">
                    <br>
                  </span>
                  <br>
                  <span style="font-size: 1.5rem;">
                    <span style="font-weight: 700;">
                      <span class="u-text-palette-2-dark-1">ALL of it is in first attempt&nbsp;</span>
                      <br>
                    </span>
                    <br>Are you normal student ? confused about the compitative exam?<br>Do you want to have that charismatic career , results or want to have successful career dispite of being normal in studies till now?<br>
                    <span style="font-weight: 700;">All of it is possible and is possible for Anyone.</span>
                    <br>those who are having correct guidance from correct people and&nbsp; know how to study what to study and what not to study.&nbsp;
                  </span>
                  <span style="font-size: 1.5rem;">
                    <br>
                    <br>Hello my name is prathmesh(21y/o) and I have guided many students for the last 2 years, and I have the experience to guide students correctly for their goal such that they can get a good career irrespective of their past studies or past failers. without guidance, the path for success is very scattered and lengthy. with correct guidance the path is very straight and smart, its just that if you learn how to learn then it is easy for you to study for any exam, and we will tell you how to tackle your difficult subjects, learning how to learn, how to get success in today's market despite having bad results and many more.
                  </span>
                  <br>
                  <br>
                  <span style="font-size: 1.5rem; font-weight: 700;" class="u-text-palette-3-base">to know more about prathmesh go down&nbsp;</span>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </p>
              </div>
            </div>
            <div class="u-container-style u-hidden-md u-image u-layout-cell u-right-cell u-shape-rectangle u-size-30 u-image-1" data-image-width="3152" data-image-height="3376">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-valign-middle-lg u-white u-section-2" id="carousel_f371">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-white u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <p class="u-text u-text-1">
                  <span style="font-size: 3rem;">MBBS </span>student&nbsp;<br>Cracked jee and neet in<span style="font-size: 3rem;">
                    <span class="u-text-custom-color-1" style="font-size: 2.25rem;">first attempt&nbsp;</span>
                  </span>
                  <br>With <span class="u-text-custom-color-1">
                    <span style="font-size: 3rem;">640</span>/720
                  </span> in neet and <span class="u-text-custom-color-1">
                    <span style="font-size: 3rem;">98.05</span>P
                  </span> in jee<br>Research and startup intrest in AI and ML<br>
                  <br>
                  <span style="font-size: 1.5rem;">Hello ! Myself Yash Tiwari. I was kinda brilliant student upto class 10th but as moved to 11th, the vast and difficult science syllabus didn't let me appear as a topper. In this manner, struggling continuously, I got distracted from studies and it got worsened with the time. <span class="u-text-custom-color-1">There was almost zero probability of my success but due to my hard luck, I somehow got to connect some true soul and that  guidance made my life to take a U-turn. </span>I got to know the right method to study sciences. I got to manage all my hurdles from then. Those little tips made me clear the toughest exams of India, the NEET &amp; the JEE, not only clear but I've scored 640 marks in the NEET examination with the first attempt.<br>If I could've done this, isn't it possible that you can make your life align with you dream life...??
                  </span>
                  <br>
                </p>
              </div>
            </div>
            <div class="u-container-style u-hidden-md u-image u-layout-cell u-right-cell u-shape-rectangle u-size-30 u-image-1" data-image-width="1600" data-image-height="1321">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-1-light-1 u-section-3" id="carousel_2615">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-custom-font u-font-pt-sans u-text u-text-palette-5-dark-2 u-text-1">what we do</h4>
        <h2 class="u-text u-text-default u-text-palette-1-dark-2 u-text-2"> Consulting Process</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img src="images/3.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-1" data-image-width="715" data-image-height="700">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-3">personal analysis of student&nbsp;</h4>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img src="images/4.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-2" data-image-width="715" data-image-height="700">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-4"> Structure the Problem and giving personal solution to problem</h4>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img src="images/dd.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-3" data-image-width="715" data-image-height="700">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-5">after session discussion of doubts on whats up for future problems</h4>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <img src="images/1.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-4" data-image-width="715" data-image-height="700">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-6">successful career for each student</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="sec-dc22">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-text-palette-2-dark-2 u-text-1">The consultation/guidance that we offer</h1>
      </div>
    </section>
    <section class="u-clearfix u-valign-middle u-section-5" id="sec-bf5c">
      <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-25 u-image-1" src="" data-image-width="1656" data-image-height="1016">
                  <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-35 u-layout-cell-2">
                  <div class="u-container-layout u-valign-bottom u-container-layout-2">
                    <h2 class="u-text u-text-custom-color-5 u-text-1">A)5th to 10th guidance for bright career</h2>
                    <p class="u-text u-text-2">
                      <span style="font-weight: 700;">1. Discuss your problems<br>2. Get an expert solution<br>3. A single conversation can save years of your time<br>4. A single tip can save thousands of Rupees of your money<br>5.&nbsp;
                      </span>5. Get a 30-minute conversation <span class="u-text-custom-color-1">PRATHMESH</span> and <span class="u-text-custom-color-1">YASH </span>with who has been a personal consultant for years and have guided thousands of people in the right direction<br>6. This age is perfect for the brain to form its neural paths , if its formed correctly then no one can stop you .<br>7. Also everone run for the marks in this age which is almost useless or having only 20% contribution in the success what is imp is EQ and other skills and how to study , get to know how to study by experts (who formed themselfs from normal student to successful student)
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-3">
                    <h2 class="u-text u-text-custom-color-2 u-text-3">B)11th and 12th guidance for ​ competitive exam's</h2>
                    <p class="u-text u-text-4">1. get the solution on how to tackel the difficult subject for you&nbsp;<br>2. leaning how to learn (what is the correct way so that you can grasp all the things )<br>3. doing tuition is only 30% of the job what is remaining 70%&nbsp;<br>4. after the exam for a good future what should be the strategy&nbsp;<br>4. <span class="u-text-custom-color-1">PRATHMESH </span>and <span class="u-text-custom-color-1">YASH </span>have a natural nag for finding ways out of any situation.<br>&nbsp;5. Get a 30-minute conversation <span class="u-text-custom-color-1">PRATHMESH </span>and <span class="u-text-custom-color-1">YASH </span>with who has been a personal consultant for years and have guided thousands of people in the right direction
                    </p>
                  </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2" src="" data-image-width="246" data-image-height="205">
                  <div class="u-container-layout u-valign-middle u-container-layout-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-6" id="carousel_183e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-60">
                <div class="u-layout-row">
                  <div class="u-container-style u-image u-layout-cell u-left-cell u-size-27 u-image-1" src="" data-image-width="992" data-image-height="624">
                    <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-33 u-layout-cell-2">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <h2 class="u-text u-text-custom-color-4 u-text-1">C)how to get IT jobs or gate prep</h2>
                      <p class="u-text u-text-2">1. if you are from tier 3 college and you have not done anything till now then this is the best chance for you to do something with proper personalize guidance you can get an entry-level job in the IT industry.&nbsp;<br>2. if you are an early bird then get your dream job with proper personalize guidance&nbsp;<br>3. if you want to do higher education or get a job from the gate then how to study GATE(conducted by IIT ) exam,get full personalize guidance&nbsp;<br>4. get the 30min guidance from <span class="u-text-custom-color-1">PRATHMESH </span>who himself cracked gate in 2 branches in the first attempt and stand in the top 1.5% of Electrical engineers and Instrumentation engineers&nbsp;
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-7" id="carousel_3270">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-text-1"> Purchase</h1>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <p class="u-text u-text-default u-text-2">
                    <span style="font-size: 2.25rem;">people spend lacs of money on tutions, spend years of preparation (which is just 30% of success ) but lag in the most fundamental thing that is guidance,</span>
                    <br>
                    <span style="font-size: 2.25rem;" class="u-text-custom-color-1">you dont make such blunder&nbsp;</span>
                    <span style="font-size: 2.25rem;">
                      <span class="u-text-custom-color-1">
                        <br>
                      </span>Call
                    </span>
                    <span style="font-size: 2.25rem;">&nbsp;now to book your slot<br>manager no -&nbsp;
                    </span>(if you have any further doubt regarding the process ou can call to our managers and clear you doubt )&nbsp; &nbsp;<br>
                    <span style="font-size: 2.25rem;">&nbsp;83055 73760&nbsp;</span>
                    <br>
                    <span style="font-size: 2.25rem;">&nbsp;84325 00025</span>&nbsp;&nbsp;<br>&nbsp;<br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-2">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-palette-2-base u-radius-15 u-shape-round u-size-20 u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <h4 class="u-text u-text-body-alt-color u-text-3">
                    <span style="font-weight: 700; font-size: 1.875rem;" class="u-text-white">A) 5th to 10th&nbsp;guidance for successful career<br>
                    </span>
                    <br>
                  </h4>
                  <h1 class="u-custom-font u-font-pt-sans u-text u-text-4">
                    <span style="font-size: 1.875rem;">RS.500 (for 15min consultation and wsup non tech doubt&nbsp; support)&nbsp;<br>on zoom
                    </span>
                    <br>
                    <br>
                  </h1>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-radius-15 u-size-20 u-white u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <h4 class="u-text u-text-default u-text-palette-2-base u-text-5">B) 11th 12th guidance for Competative exams and successful career</h4>
                  <h1 class="u-custom-font u-font-pt-sans u-text u-text-default u-text-palette-2-base u-text-6">
                    <span style="font-size: 1.875rem;"></span>
                  </h1>
                  <p class="u-text u-text-7">RS. 1000&nbsp;(for 30min consultation and wsup non tech doubt&nbsp; support)<br>on zoom
                  </p>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-radius-15 u-right-cell u-size-20 u-white u-layout-cell-4">
                <div class="u-container-layout u-valign-top u-container-layout-4">
                  <h4 class="u-text u-text-default u-text-palette-2-base u-text-8">C) IT jobs for tier 3 college&nbsp;<br>or gate Preparation
                  </h4>
                  <p class="u-text u-text-9">
                    <span style="font-size: 1.875rem; font-weight: 700;">RS. 1000&nbsp;(for 30min consultation and wsup non tech doubt&nbsp; support)</span>
                    <br>
                    <span style="font-size: 1.875rem; font-weight: 700;">on zoom</span>
                    <br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h5 class="u-text u-text-default u-text-10">
          <span style="font-size: 1.875rem; font-weight: 700;"> we are not here for the business we are here for the revolution in the society so our seats are very limited , we will be taking only 1 to 2&nbsp; students per week days and 3 to 4 students per weekend&nbsp; &nbsp;</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
        </h5>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-section-8" id="sec-c598">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: left;">
            <span style="font-size: 1.25rem; font-weight: 700;">More about Prathmesh&nbsp;</span>
          </h1>
          <p id="isPasted">
            <span style="font-weight: 700;">hello I am prathmesh bhosale and I was being a normal student from childhood but today I'm in India's or rather the world's precious institute that is IIT Kharagpur doing my masters and I have done Btech from SGGS college and with that, I was the topper in 2ed year of engineering because of which I was able to do my 3ed year from COEP Pune which is Asia's 3ed oldest college and all of which I have done in my first attempt.</span>
          </p>
          <p>
            <span style="font-weight: 700;">. In my childhood friends around me were not good they used to steal things from shops and have many more misguiding acts so I also used to steal things in my childhood and if this thing continued in this fashion then today I must be a big thief.&nbsp;</span>
          </p>
          <p>
            <span style="font-weight: 700;">so what I did or what I am doing from the time I was on the edge of good or bad things, so that today I covered the journey of the thief to IITian.</span>
          </p>
          <p>
            <span style="font-weight: 700;">how to transform yourself fully from a very very normal student (here I am not talking about the students who are topper from their childhood this percentage of students are very less but the majority of the students lie in the normal category )to a bright successful student.&nbsp;</span>
          </p>
          <p>
            <span style="font-weight: 700;">with the proper techniques and with the proper guidance all of these things can happen true without guidance the path is very scattered even a bright student from childhood can not be successful if he/she doesn't have proper guidance.&nbsp;</span>
          </p>
          <p>
            <span style="font-weight: 700;">
              <br>
            </span>
          </p>
          <p>
            <span style="font-weight: 700;">you need to&nbsp;</span>
          </p>
          <p>
            <span style="font-weight: 700;">Discuss your problems</span>
          </p>
          <p>
            <span style="font-weight: 700;">Get an expert solution</span>
          </p>
          <p>
            <span style="font-weight: 700;">A single conversation can save years of your time</span>
          </p>
          <p>
            <span style="font-weight: 700;">A single tip can save thousands of Rupees of your money</span>
          </p>
          <p>
            <span style="font-weight: 700;">I have seen people who were very bright students having 98 or 99 % in their 10th and before but after that, all of it went off and also I have seen such people who are having 70 to 80% marks in 10th and before and they do miracles, how is this even possible you might think but all of it is possible and possible for everyone.</span>
          </p>
          <p>
            <span style="font-weight: 700;">
              <br>
            </span>
          </p>
          <p>
            <span style="font-weight: 700;">studying (IQ) is only 20% ingredient of your success . Or for any competitive exam doing tuition is only 30% of the preparation connect with us and get your remaining 70%.&nbsp;</span>
          </p>
          <p>
            <span style="font-weight: 700;">for neet students, you might be having problem-solving physics and for math students, you might have problem-solving chemistry all of this can be a cake work for you if you know learning how to learn.</span>
          </p>
          <p style="text-align: left;">
            <br>
          </p>
        </div>
      </div>
    </section>


    <footer class="u-clearfix u-footer u-grey-80" id="sec-854e"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-center-sm u-align-center-xs u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <p class="u-text u-text-1">MustGuidance</p>
                </div>
              </div>
              <div class="u-align-center-sm u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h6 class="u-text u-text-2">manager contact no for slot booking&nbsp;<br>83055 73760&nbsp;<br>8432500025
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>.
    </section>
  </body>
{% endblock content %}